#eggContainer {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

/* たまご型 */
.egg {
  width: 120px;
  height: 150px;
  overflow: hidden;
  position: relative;

  /* 比率はそのまま */
  border-radius: 50% 50% 45% 45% / 60% 60% 40% 40%;

  background: 'white';
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
  transition: transform 0.25s ease;
}


.egg:hover {
  transform: scale(1.08) rotate(3deg);
}

.egg img {
  width: 100%;
  height: 100%;

  /* 写真を引き気味に */
  object-fit: contain;
  transform: scale(0.8);
}